<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title>Page 1</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft00{font-size:15px;font-family:Helvetica;color:#000000;}
	.ft01{font-size:14px;font-family:Helvetica;color:#000000;}
	.ft02{font-size:11px;font-family:Helvetica;color:#000000;}
	.ft03{font-size:12px;font-family:Helvetica;color:#000000;}
	.ft04{font-size:12px;line-height:15px;font-family:Helvetica;color:#000000;}
	.ft05{font-size:11px;line-height:12px;font-family:Helvetica;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:892px;height:1263px;">
<img width="892" height="1263" src="modelo informe PJ (2)001.png" alt="background image"/>
<p style="position:absolute;top:71px;left:219px;white-space:nowrap" class="ft00">Ministério da Fazenda</p>
<p style="position:absolute;top:101px;left:144px;white-space:nowrap" class="ft01">Secretaria Especial da Receita Federal do Brasil</p>
<p style="position:absolute;top:57px;left:516px;white-space:nowrap" class="ft01">COMPROVANTE ANUAL DE RETENÇÃO DE</p>
<p style="position:absolute;top:76px;left:479px;white-space:nowrap" class="ft01">CSLL, COFINS E PIS/PASEP (Lei nº 10.833/2003, art. 30)</p>
<p style="position:absolute;top:114px;left:588px;white-space:nowrap" class="ft01">Ano-calendário de 2024</p>
<p style="position:absolute;top:160px;left:30px;white-space:nowrap" class="ft00">1. FONTE PAGADORA</p>
<p style="position:absolute;top:178px;left:675px;white-space:nowrap" class="ft02">CNPJ</p>
<p style="position:absolute;top:178px;left:35px;white-space:nowrap" class="ft02">Nome</p>
<p style="position:absolute;top:192px;left:675px;white-space:nowrap" class="ft01">11.254.548/0001-84</p>
<p style="position:absolute;top:192px;left:35px;white-space:nowrap" class="ft01">GMW ENGENHARIA LTDA</p>
<p style="position:absolute;top:223px;left:30px;white-space:nowrap" class="ft00">2. PESSOA JURÍDICA FORNECEDORA DO SERVIÇO</p>
<p style="position:absolute;top:241px;left:35px;white-space:nowrap" class="ft02">CNPJ</p>
<p style="position:absolute;top:241px;left:227px;white-space:nowrap" class="ft02">Nome completo</p>
<p style="position:absolute;top:255px;left:66px;white-space:nowrap" class="ft01">06.194.675/0007-90</p>
<p style="position:absolute;top:255px;left:227px;white-space:nowrap" class="ft01">WM COMERCIAL ATACADISTA LTDA</p>
<p style="position:absolute;top:284px;left:30px;white-space:nowrap" class="ft00">3. RELAÇÃO DE PAGAMENTOS E RETENÇÕES</p>
<p style="position:absolute;top:306px;left:69px;white-space:nowrap" class="ft03">MÊS DO PAGAMENTO</p>
<p style="position:absolute;top:306px;left:270px;white-space:nowrap" class="ft03">CÓDIGO DA RETENÇÃO</p>
<p style="position:absolute;top:306px;left:713px;white-space:nowrap" class="ft03">VALOR RETIDO</p>
<p style="position:absolute;top:306px;left:508px;white-space:nowrap" class="ft03">VALOR PAGO</p>
<p style="position:absolute;top:340px;left:123px;white-space:nowrap" class="ft03">Mai</p>
<p style="position:absolute;top:355px;left:125px;white-space:nowrap" class="ft03">Jul</p>
<p style="position:absolute;top:325px;left:794px;white-space:nowrap" class="ft03">14.302,71</p>
<p style="position:absolute;top:340px;left:326px;white-space:nowrap" class="ft03">5952</p>
<p style="position:absolute;top:340px;left:584px;white-space:nowrap" class="ft03">90.407,36</p>
<p style="position:absolute;top:355px;left:577px;white-space:nowrap" class="ft03">155.069,57</p>
<p style="position:absolute;top:325px;left:577px;white-space:nowrap" class="ft03">307.585,04</p>
<p style="position:absolute;top:325px;left:123px;white-space:nowrap" class="ft03">Abr</p>
<p style="position:absolute;top:340px;left:801px;white-space:nowrap" class="ft03">4.203,98</p>
<p style="position:absolute;top:355px;left:326px;white-space:nowrap" class="ft03">5952</p>
<p style="position:absolute;top:325px;left:326px;white-space:nowrap" class="ft03">5952</p>
<p style="position:absolute;top:355px;left:801px;white-space:nowrap" class="ft04">7.210,74<br/>8.182,48</p>
<p style="position:absolute;top:370px;left:577px;white-space:nowrap" class="ft03">272.749,47</p>
<p style="position:absolute;top:370px;left:122px;white-space:nowrap" class="ft03">Mar</p>
<p style="position:absolute;top:370px;left:326px;white-space:nowrap" class="ft03">5960</p>
<p style="position:absolute;top:385px;left:801px;white-space:nowrap" class="ft03">1.772,88</p>
<p style="position:absolute;top:385px;left:577px;white-space:nowrap" class="ft03">272.749,47</p>
<p style="position:absolute;top:385px;left:122px;white-space:nowrap" class="ft03">Mar</p>
<p style="position:absolute;top:385px;left:326px;white-space:nowrap" class="ft03">5979</p>
<p style="position:absolute;top:400px;left:801px;white-space:nowrap" class="ft03">2.727,50</p>
<p style="position:absolute;top:400px;left:577px;white-space:nowrap" class="ft03">272.749,47</p>
<p style="position:absolute;top:400px;left:122px;white-space:nowrap" class="ft03">Mar</p>
<p style="position:absolute;top:400px;left:326px;white-space:nowrap" class="ft03">5987</p>
<p style="position:absolute;top:428px;left:30px;white-space:nowrap" class="ft00">4. INFORMAÇÕES COMPLEMENTARES</p>
<p style="position:absolute;top:533px;left:30px;white-space:nowrap" class="ft00">5. RESPONSÁVEL PELAS INFORMAÇÕES</p>
<p style="position:absolute;top:553px;left:35px;white-space:nowrap" class="ft05">Nome<br/>CELIO DE OLIVEIRA JUNIOR</p>
<p style="position:absolute;top:553px;left:486px;white-space:nowrap" class="ft05">Data<br/>23/02/2026</p>
<p style="position:absolute;top:553px;left:629px;white-space:nowrap" class="ft02">Assinatura</p>
<p style="position:absolute;top:584px;left:30px;white-space:nowrap" class="ft02">Aprovado pela IN/SRF nº 459/2004</p>
<p style="position:absolute;top:1191px;left:769px;white-space:nowrap" class="ft03">Pág. 1</p>
</div>
</body>
</html>
